<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" src="{% static "images/logo.png" %}">
    <title>Diary For You</title>
    <link rel="stylesheet" href="{% static "css/first.css" %}?{% now "U" %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <h1 id="text-heading"></h1>
    <a id="start-now" href="{% url 'login' %}">Start writting your diary now</a>
    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="{% static "images/4.jpg" %}" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img src="{% static "images/5.webp" %}" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img src="{% static "images/7.jpeg" %}" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img src="{% static "images/3.jpg" %}" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img src="{% static "images/6.avif" %}" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img src="{% static "images/8.png" %}" style="width:100%">
        </div>
    </div>
    <script src="{% static "js/first.js" %}" type="text/javascript"></script>
</body>
</html>

