<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/home.css" %}?{% now "U" %}">
</head>
<body>
    <div id="container">
        <div id="sub-main">
            <div class="infor">
                <img src="https://static-00.iconduck.com/assets.00/user-icon-1024x1024-dtzturco.png" alt="user image png">
                <h3 class="name-user">Phong Kha</h3>
                <p>Welcome to our website</p>
            </div>
            <div class="list-feature">
                <ul>
                    <li><a href="">Your Diary</a></li>
                    <li><a href="">Your Vocabulary</a></li>
                    <li><a href="">Setting</a></li>
                </ul>
            </div>
        </div>
        <div id="main">
            <div class="main-top">

            </div>
            <div class="main-body">

            </div>
        </div>
    </div>
</body>
</html>