<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Login Page</title>
    <link rel="shortcut icon" href="{% static "images/logo.png" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "css/login.css" %}?{% now "U" %}">
</head>
<body>
<form method="post">
    <h3>Login Here</h3>
    {% csrf_token %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <label for="username">Username</label>
    <input type="text" placeholder="Enter Username" id="username" name="username">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" name="pass">

    <button type="submit">Log In</button>
    
    <div class='signup'>
        <a href="{% url 'signup' %}">Create a account</a>
    </div>

</form>
</body>
</html>
