<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Login Page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/login.css" %}?{% now "U" %}">
</head>
<body>
{% comment %} <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div> {% endcomment %}
<form method="post">
    <h3>Login Here</h3>
    {% csrf_token %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <label for="username">Username</label>
    <input type="text" placeholder="Enter Username" id="username" name="username">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" name="pass">

    <button type="submit">Log In</button>
    <!-- <input type="button" value=""> -->
    <!-- <div class="social">
      <div class="go"><i class="fab fa-google"></i>  Google</div>
      <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
    </div> -->
    <div class='signup'>
        <a href="{% url 'signup' %}">Create a account</a>
    </div>

</form>
</body>
</html>
