*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
#container{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
}
#sub-main{
    background-color: #3f444c;
    padding-top: 5%;
}
.sub2-main{
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    background-color: #3f444c;
}
#sub-main .infor img{
    width: 30%;
    padding-bottom: 20px;
}
#sub-main .infor{
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sub-main .infor h3, #sub-main .infor p{
    color: #fff;
    font-size: small;
}
hr{
    width: 80%;
    margin-bottom: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #eceef0;
}
.list-feature ul li a{
    color: #fff;
    text-decoration: none;
}
.list-feature ul li{
    width: 100%;
    height: 80px;
    display: flex;
    /* justify-content: center; */
    padding-left: 40px;
    align-items: center;
    transition: 0.5s;
    /* border-radius: 20px; */
}
.list-feature ul li a{
    transition: 0.5s;
}
.list-feature ul li a:hover{
    /* background-color: #00eeb7; */
    cursor: pointer;
    margin-left:10px ;
}
.list-feature ul li i{
    color: white;
    padding: 0 10px;
}
#main{
    background-color: #eceef0;
}
.new-diary{
    position: fixed;
    top: 136px;
    right: 50px;
    width: 123px;
    height: 56px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: 0.3s;
}
.new-diary a{
    color: #959595;
}
.new-diary:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#main .main-top{
    background-color: #3f444c;
    width: 100%;
    /* height: 10%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 60px;
    z-index: 1;
    /* position: fixed; */
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.add-diary{
    color: #eceef0;
    text-decoration: none;
    font-size: large;
}
.main-top-right > * {
    color: white;
}
.main-top-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.address-time{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
}
.main-top a i {
    color: white;
    font-size: x-large;
    transition: 0.5s;
    padding: 8px;
    border-radius: 6px;
}
.main-top a i:hover{
    cursor: pointer;
    background-color: #00eeb7;
}
.task-bar{
    display: flex;
    gap: 20px;
}
.main-top .main-top-right-one{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
#img-weather{
    width: 80px;
    height: 80px;
    position: relative;
    animation: img-weather 2s infinite;
    object-fit: cover;
}
@keyframes img-weather {
    0%, 100% {
        top: 0;
    }
    50% {
        top: 4px;
    }
}

.custom-cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #00eeb7;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
    transform: translate(-50%, -50%);
    transition: transform 0.05s ease; 
}
.diary{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 90%;
    height: 100px;
    /* background-color: #eceef0; */
    border-radius: 10px;
    margin: 10px 0px;
    gap: 20px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.list-diaries{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-body{
    /* margin-top: 110px; */
    padding: 4% 0;
}
.diary .time-diary{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    border-radius: 20px 10px;
    background-color: #fff;
    transition: 0.3s;
}
.diary .time-diary:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#temperature{
    color: #eceef0;
}
.title-diary{
    color: #3f444c;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}
.time-diary .created-day{
    flex: 3;
    background-color: #0097ff;
    border-radius: 20px 10px 0 0;
    height: 100%;
    text-align: center;
    font-size: xx-large;
    line-height: 75px;
    color: #fff;
}
.time-diary .created-month{
    flex: 1;
    text-align: center;
}
.diary .pre-content-diary{
    flex: 4;
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 15px 25px;
    transition: 0.3s;
}
.diary .pre-content-diary:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pre-content-diary .title-diary{
    transition: 0.3s;
}
.pre-content-diary .title-diary:hover{
    color: #0097ff;
}
.diary .pre-content-diary .content-diary{
    color: #959595;
}
.diary .handle-diary{
    flex: 1;
    /* background-color: #eceef0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    width: 100%;
    height: 100%;
    border-radius: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.handle-diary > a{
    text-decoration: none;
    color: #3f444c;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.handle-diary > a:nth-child(1){
    height: 100%;
    width: 50%;
    border-radius: 20px 0 0 10px;
    transition: 0.3s;
}
.handle-diary > a:nth-child(1):hover{
    background-color: #0097ff;
    color: #eceef0;
}
.handle-diary > a:nth-child(2){
    transition: 0.3s;
    height: 100%;
    width: 50%;
    border-radius: 0 10px 20px 0;
}
.handle-diary > a:nth-child(2):hover{
    background-color: #0097ff;
    color: #eceef0;
}