h1{
    text-align: center;
    color: #3f444c;
}
#update-diary-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#update-diary-form > *{
    margin: 10px 0;
    width: 70%;
}

