{% extends "home.html" %} 
{% load static %} 
{% block content %}
{% block new_diary %}
  <div></div>
{% endblock new_diary %}
<div class="bar-top">
    <a href="{% url 'home' %}"><i class="fa-solid fa-backward"></i></a>
    <h3>{{ diary.title }}</h3>
    <div class="btn-handlle">
        <a href="{% url 'update-diary' diary.diary_id %}" class="buttn-edit"><i class="fa-solid fa-pen"></i></a> 
        <a onclick="deleteDiary({{diary.diary_id}})" class="buttn-del"><i class="fa-solid fa-x"></i></a>
    </div>
</div>

<div class="form-detail">
    <p class="alert alert-info" id="diary-content">{{ diary.content }}</p>
    <form action="" id="translate-form" onsubmit="event.preventDefault(); translateDiary({{diary.diary_id}})">
        {% csrf_token %}
        <div class="language language-from">
            <i id="from" class="fa-solid fa-volume-high"></i>
            <i id="from" class="fa-solid fa-copy"></i>
            <label for="language_from"></label>
            <select id="language_from"></select>
        </div>
        <div class="language language-to">
            <i id="to" class="fa-solid fa-volume-high"></i>
            <i id="to" class="fa-solid fa-copy"></i>
            <label for="language"></label>
            <select id="language"></select>
        </div>
        <button type="submit">Translate</button>
    </form>
    <div id="translated-content">
        {% if translations %}
                {% for translation in translations %}
                    {% if translation.translated_content != None %}
                        <p>{{ translation.language.language_name }}: {{ translation.translated_content }}</p>
                    {% endif %}
                {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static "js/translate.js" %}" type="text/javascript"></script>
<script src="{% static "js/del.js" %}" type="text/javascript"></script>
<script src="{% static "js/home.js" %}" type="text/javascript"></script>
<script src="{% static "js/countries.js" %}" type="text/javascript"></script>
<script src="{% static "js/vocab.js" %}" type="text/javascript"></script>
{% endblock script %}