{% extends "home.html" %}
{% load static %}
{% block content %}
{% block new_diary %}
  <div></div>
{% endblock new_diary %}
<form id="update-diary-form" onsubmit="event.preventDefault(); updateDiary({{ diary.diary_id }});">
    <div class="update-top">
        <div class="form-group">
            <label for="id_created_at"></label>
            <input type="date" name="created_at" id="id_created_at" class="form-control" value="{{diary.created_at|date:'Y-m-d'}}">
        </div>
        <div class="form-group">
            <label for="id_title"></label>
            <input type="text" id="id_title" name="title" value="{{ diary.title }}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Update Diary</button>
    </div>
    <div class="form-group">
        <label for="id_content"></label>
        <textarea id="id_content" name="content" class="form-control">{{ diary.content }}</textarea>
    </div>
    
</form>
{% endblock %}
{% block script %}
<script src="{% static "js/update.js" %}" type="text/javascript"></script>
<script src="{% static "js/home.js" %}" type="text/javascript"></script>
{% endblock script %}